/* 501px-900px */

body{ margin: 0; padding:0;}

/*Header design*/
#header{
  height:80px;
  width:auto;
}
#header > a > img{
  position:absolute;
  float: left;
  margin:10px 0px 0px 30px;
  height:60px;
  width:163px;
}

#header > #header_user{
  height:auto;
  width:auto;
  padding:0px;
  float:right;
  margin:18px 30px 0px 0px;
}
.header_user_div{
  height:auto;
  width:auto;
  margin:0px 0px 0px 50px;
  
}
#header > #header_user img{
  height:45px;
  width:45px;
  border:1px solid gray;
  float:left;
}
#header > #header_user > .header_user_div > .username{
  height:25px;
  width: auto;
  text-align: center;
  margin:1px auto 0px auto;
  font-size: 17px;
  
}

#header > #header_user > .header_user_div > .header_menu{
  height:20px;
  width:100px;
  margin:0px auto 0px auto;
  font-size:13px;
}
/*End of Header*/

/*Banner design*/
#banner{
  height:auto;
  width:auto;
}

#banner img{
  height:50%;
  width:100%;
}

.partner{
  height:auto;
  width:100%;
}
.partner > .partner_img_div{
  height:auto;
  width:485px;
  
  margin:10px auto 0px auto;
}
.partner img{
  height:100px;
  width:400px;  
}
/*End of Banner*/

/*Content designs*/
#content{
  height:auto;
  width:100%;
}

#accordion{
    margin:10px auto 10px auto;
    width:100%;
    height:auto;
    
}

#accordion > .section
{
  height:200px;
  width:auto;
  border:1px solid blue;
  overflow: scroll;
}
/*Content Designs*/

/*Menu*/
.nav{ 
  width:100%;
  height:auto;
}
#menu{
  height:40px;
  width: 610px;
  margin:0px auto 0px auto;
}
#menu ul {
  list-style: none;
  margin:0px;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#menu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#menu ul li { display: inline-block; padding: 0; }
#menu.align-right ul li { float: right; }
#menu.align-center ul { text-align: center; }

#menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 13px 20px; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#menu ul li a:hover { color: #333333; color: white; }
#menu ul li a:hover:before { width: 100%; }
#menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  background:#FAFAFA;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#menu ul li.last > a:after,
#menu ul li:last-child > a:after {
  display: none;
}
#menu ul li.active a {
  color: #333333;
}
#menu ul li.active a:before {
  width: 100%;
}
#menu.align-right li.last > a:after,
#menu.align-right li:last-child > a:after {
  display: block;
}
#menu.align-right li:first-child a:after {
  display: none;
}
/*End of menu design*/


/*Profile Page Design*/

.profile_content{

  height:270px;
  width:760px;
  margin:0px auto 0px auto;
}
#pp_div{
  
  height:230px;
  width:225px;
  
  border:1px solid #BDBDBD;

  margin:30px 0px 0px 65px;
  float:left;
}
#pp_div img{
  height:100%;

  width:100%;
}

#profile_info{
  height:auto;
  
  width:410px;
  margin:10px 40px 0px 0px;
  float:right;
  padding:0px;
}

#profile_info table{
  width:100%;
  height:auto;
}


#profile_accordion{
    margin:10px auto 10px auto;
    width:700px;
    height:auto;

}

#profile_accordion > .section
{
  height:200px;
  width:auto;
  overflow: scroll;
  
}

#profile_accordion > .section > .child_acct_div{
  height:150px;

  width:100px;
  
  float:left;
  margin:10px 0px 0px 10px;
  padding:10px;
}
.child_acct_div img{
  height:110px;
  width:100px;
  border:1px solid black;

}
.child_acct_div > .child_acct_name{
  
  margin:0px auto 0px auto;
  width:100%;
  height:auto;
  text-align: center;
  font-family: Arial;
  
}
.child_acct_div > .child_acct_relationship{
  
  margin:0px auto 0px auto;
  width:100%;
  height:auto;
  text-align: center;
  font-family: Arial;
  
}


.education_detail /*Work and Education Detail container div*/
{
  height:auto;
  width:auto;
  border:1px solid gray;
  border-radius: 10px;
  margin:10px 0px 0px 0px;
  padding:10px;
}
.education_detail > #education_icon
{
  height:60px;
  width:60px;
  
  margin:0px 0px 0px 0px;

}
.education_detail > #education_icon img
{
  height:100%;
  width:100%;
}
.education_detail > #education_content{
  height:60px;
  width:500px;
  
  margin:-60px 0px 0px 70px;
}


.work_detail /*Work and Education Detail container div*/
{
  height:auto;
  width:auto;
  border:1px solid gray;
  border-radius: 10px;
  margin:10px 0px 0px 0px;
  padding:10px;
}
.work_detail > #work_icon
{
  height:60px;
  width:60px;
  
  margin:0px 0px 0px 0px;

}
.work_detail > #work_icon img
{
  height:100%;
  width:100%;
}
.work_detail > #work_content{
  height:60px;
  width:500px;
  
  margin:-60px 0px 0px 70px;
}
/*End of profile page desin*/
/*Child*/
.child_profile_content
{
  height:290px;
  width:680px;
  margin:0px auto 0px auto;
}
#child_pp_div{
  
 height:245px;
  width:235px;
  
  border:1px solid #BDBDBD;
  margin:20px 0px 0px 0px;
  float:left;
}
#child_pp_div img{
  height:100%;

  width:100%;
}

#child_profile_info{
  height:auto;
  width:430px;
  margin:0px 0px 0px 0px;
  float:right;
  padding:0px;
}
.field_names{
  color:#01A9DB;
  width: 130px;
}
#child_profile_info table{
  width:100%;
  height:auto;
}
/*End of Child*/
/*Dashboard design*/
#dashboard_tab{
  height:800px;
  width:700px;
  margin:10px auto 10px auto;
}

/*End of dashboard design*/

@media screen and (max-width:546px){ /*This will overflow:scroll if screen reaches 556px to avoid overlay*/
    body{
      overflow: scroll;
    } 
    #container{
      width:560px;
    }
}


